$mainColor : #ff0000;

.red{
    color: $mainColor;
}

.alert{
    background: #eeeeee;
    padding: 15px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.alert2{
    @extend .alert;
    background: #ffe591;
}
// extend 복사

// @mixin test1(){
//     background: #eeeeee;
//     padding: 15px;
//     border-radius: 5px;
//     max-width: 500px;
//     width: 100%;
//     margin: auto;
// }
// .alert{
//     @include test1()
// }
// mixin 함수 만드는 문법
// @include를 붙여줘야 함수 사용이 가능
